<% if @error_messages.present? %>
  <div class="alert alert-danger">
    <% @error_messages.each do |message| %>
      <%= message %>
    <% end %>
  </div>
<% end %>

<%= form_with(model: @message, local: true) do |f| %>

  <%= f.label :Message %> <br/>
  <%= f.text_area :message, class: "messageField" %>

  <%= f.submit  class: 'button' %>
<% end %>
