<h1 class="text-center">Showing all Posts</h1>
<div class="grid-container">
  <table id="myTable" class="display nowrap" cellspacing="0" width="100%">
  <thead>
		<tr>
			<th>Message</th>
			<th>User</th>
			<th>Time</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @messages.each do |m| %>

				<tr>
					<td><%= m.message %></td>
					<td><%= m.user.username %></td>
					<td><%= @presenter.formatted_created_at[@messages.index(m)] %></td>					
					<td>
						<% if current_user == m.user %>
							<%= link_to 'Edit', edit_message_path(m) %> |
							<%= link_to 'Delete', message_path(m), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
						<% end %>
					</td>
				</tr>	
		<% end %>
	</tbody>
</table>

<p>
	<%= link_to 'Create New Post', new_message_path, class: 'button'%>
	<%= link_to 'Back to Home', root_path, class: 'button' %>
</p>

</div>


